## Junior data scientist coding test

## Question 1

For a list sized n, there's n-1 acending digits starting from 0, and always one duplicate. 

For example: 
[0,1,2,2,3,4]

Duplicate is 2

Please write a Python function to return the duplicate number.

In [ ]:
def find_dup_set(nlist):
    return sum(nlist)-sum(list(set(nlist)))

def find_dup(nlist):
    n = len(nlist)-1
    total = n*(n+1)/2
    return int(sum(nlist)-total)

def find_dup_loop(nlist):
    seen = list()
    for n in nlist:
        if n in seen:
            return n
        else:
            seen.append(n)

test_array = [1,2,3,4,5,6,6]
big_array = list(range(1,10000))
big_array.append(6)
print(find_dup(test_array),find_dup_set(test_array),find_dup_loop(test_array))
print(find_dup(big_array),find_dup_set(big_array),find_dup_loop(big_array))

## Question 1b

Given the equation, $n(n+1)/2$ which gives the sum of the series from 1 to digit n. 

How can you write a function to make use of this?

## Question 2

Please clean up the following file: 'flight_data.csv' and plot the distribution of weights in lbs. 

1 pound = 0.453592 kg

## Question 3

Print the smallest and largest number from each string in the follow list:

In [ ]:
runway_visibility = ['on runway 04R, from 3000 to greater than 6000 feet; on runway 16, from 4500 to 5000 feet', 
                     'on runway 1, from 1500 to greater than 3000 feet',
                     'on runway 04, greater than 1500 meters; on runway 22, greater than 1500 meters']

## Question 4

The file "airlines.csv" contains information about airlines.

Each row in the file contains the following information:

    Airline ID : Unique OpenFlights identifier for this airline.
    Name : Name of the airline.
    Alias : Alias of the airline. For example, All Nippon Airways is commonly known as "ANA".
    IATA : 2-letter IATA code, if available.
    ICAO : 3-letter ICAO code, if available.
    Callsign : Airline callsign.
    Country : Country or territory where airline is incorporated.
    Active "Y" if the airline is or has until recently been operational, "N" if it is defunct. 

The special value \N is used for "NULL" to indicate that no value is available. This is from a MySQL database where \N is used for NULL.

From the airlines.csv table, which country has the highest proportion of active airlines?

# SQL section

In [ ]:
import pandas as pd
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
from sqlalchemy import create_engine
from requests import Session
# !pip install sqlalchemy clickhouse-sqlalchemy

uri = 'clickhouse://l3readonly:r3ad3rl3@gpubox:8123/datasets'

engine = create_engine(uri, connect_args={'http_session': Session()})

def query(sql='select * from ontime limit 10'):
    return pd.read_sql(sql,engine)

In [ ]:
query().head(5)

- Q1 What is the count of flights delayed by Weather in the 2020?

- Q2 what's the most popular route between 2015 to 2020? Use Origin & Dest fields

- Q3 What is the drop off like for Diversions? Use Div1AirportID,Div2AirportID,...Div%AirportID etc

- Q4 For each origin airport, what day of the week has the highest average departure delay?